body{
    text-align: center;
    background-color: #2196f3;
    font-family: Arial, Helvetica, sans-serif;
}

#rcorners {
  border-radius: 25px;
  border: 2px solid #73AD21;
  padding: 20px; 
}

li {
    font-size: 36;
}