<!DOCTYPE html5>
<html>
    
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='mystyle.css') }}" />
</head>
    
<body>
    <h1>{{track['name']}}</h1>
    
    <h2>by {{track['artists'][0]['name']}}</h2>
    
    <img src= "{{track['album']['images'][0]['url']}}" alt="{{track['name']}}" width="300" height="300">
    </br>
    <audio controls>
      <source src="{{audio}}" type="audio/ogg">
      <source src="{{audio}}" type="audio/mpeg">
      Your browser does not support the audio element.
    </audio>
</body>

</html>