<!DOCTYPE html5>
<html>
    
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='mystyle.css') }}"/>
</head>
    
<body>
    <h1>{{track['name']}}</h1>
    
    <h2>by {{track['artists'][0]['name']}}</h2>
    
    <p id="rcorners">
        <img src= "{{track['album']['images'][0]['url']}}" alt="{{track['name']}}" class="rounded-corners" width="300" height="300">
    </p>
    </br>
    
    <audio controls class="rounded">
      <source src="{{audio}}" type="audio/ogg">
      <source src="{{audio}}" type="audio/mpeg">
      No preview available.
    </audio>
    </br>
    </br>
    {% if lyrics_url == 'none' %}
        <p>Lyrics URL not available</p>
    {% else %}
        <a href="{{lyrics_url}}" class="button button2">Lyrics URL</a>
    {% endif %}
    
    <div id="overlay" class="overlay">
    <!-- Button to close the overlay navigation -->
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <!-- Overlay content -->
        <div class="overlay-content">
        {%for i in range(len_lyrics-2)%}
            <a id="display" href="#">{{lyrics_text[i]}}</p>
        {%endfor%}
        </div>
    </div>
    
    {% if lyrics_text != 'none' %}
        <button onclick="openNav()" class="button button2">Lyrics Text</button>
    {% endif %}
    
<script>
/* Open when someone clicks on the span element */
function openNav() {
  document.getElementById("overlay").style.width = "100%";
}

/* Close when someone clicks on the "x" symbol inside the overlay */
function closeNav() {
  document.getElementById("overlay").style.width = "0%";
}
</script>
</body>

</html>