<!DOCTYPE html5>
<html>
    
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='mystyle.css') }}"/>
</head>
    
<body>
    <h1>{{track['name']}}</h1>
    
    <h2>by {{track['artists'][0]['name']}}</h2>
    
    <p id="rcorners">
        <img src= "{{track['album']['images'][0]['url']}}" alt="{{track['name']}}" id="rcorners" width="300" height="300">
    </p>
    </br>
    
    <audio controls id="rcorners">
      <source src="{{audio}}" type="audio/ogg">
      <source src="{{audio}}" type="audio/mpeg">
      No preview available.
    </audio>
</body>

</html>